@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');

:root {
    --cor-primaria: #D9D9D9;
    --cor-secundaria: #0C0C0C;
    --cor-terciaria: #D22828;
    --cor-quartenaria: #FF9900;
    --cor-quinaria: #1E9E1B;
    --background: #C40C06;

    --fonte-primaria: 'Inria Sans', sans-serif;
}

.principal__visor {
    display: flex;
    justify-content: space-around;
    background-color: var(--cor-secundaria);
    width: 57rem;
    border: 0.7rem solid var(--cor-primaria);
    border-radius: 0.62rem;
}

.principal__visor__itens {
    margin: 0.2rem;
}

.principal__visor__itens__um {
    display: flex;
    text-align: center;
}

.principal__visor__itens__dois {
    display: flex;
    text-align: center;
}

.principal__visor__itens__tres {
    display: flex;
    text-align: center;
}

.item__link {
    text-decoration: none;
    color: var(--cor-secundaria);
}

.item__link:hover {
    font-size: 1.1rem;
}

.item {
    background-color: var(--cor-primaria);
    padding-top: 2rem;
    width: 9rem;
    height: 8rem;
    margin: 0.2rem;
}

.item:hover {
    background-color: var(--cor-quinaria);
}