@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');

:root {
    --cor-primaria: #D9D9D9;
    --cor-secundaria: #0C0C0C;
    --cor-terciaria: #D22828;
    --cor-quartenaria: #FF9900;
    --cor-quinaria: #1E9E1B;
    --background: #C40C06;

    --fonte-primaria: 'Inria Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}


body {

    background-color: var(--background);
    background-image: url(assets/pokedex-header.png);
    background-repeat: no-repeat;
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    color: var(--cor-primaria);
}

.pokedex__header {
    display: flex;
}

.pokedex__header__titulo {
    font-size: 3rem;
    color: var(--cor-primaria);
    margin-left: 15.4rem;
    margin-top: 9rem;
}

.pokedex__header__links {
    text-align: right;
    margin: 9.9rem 0 0 0;
}

.pokedex__header__links__link {
    padding: 0 1.6rem;
    text-decoration: none;
    font-size: 2rem;
    text-decoration: none;
    color: var(--cor-secundaria);
    border: 0.18rem solid var(--cor-secundaria);
    border-radius: 0.62rem;
    margin-left: 5.3rem;
}

.link__um:hover {
    background-color: var(--cor-terciaria);
}

.link__dois:hover {
    background-color: var(--cor-quartenaria);
}

.link__tres:hover {
    background-color: var(--cor-quinaria);
}

.container {
    display: flex;
    position: relative;
    margin: 3.8rem;
}

.principal__pokebola {
    background-color: var(--cor-secundaria);
    height: 33rem;
    margin-left: 1.6rem;
}

.principal__pokebola__imagem {
    margin: 7rem 0;
}

footer {
    display: flex;
    margin: 3.8rem 0 2.5rem 0;
}

.pokedex__footer__imagem {
    margin-left: 3.8rem;
    margin-right: 11.9rem;
}

.about {
    display: flex;
    margin: 3rem 0rem 3rem 1.5rem;
}

.about__titulo {
    font-size: 2rem;
    padding-top: 2rem;
    text-align: center;
}

.about__texto {
    font-size: 1.56rem;
    text-align: justify;
    margin: 2.5rem;
}

.about__frase {
    font-size: 1.7rem;
    text-align: center;
}